<h2>Thank you for your enquire!</h2>
<h4>I will try my best to reply soon.</h4>
</br>

<p>Please see below the information submited:</p>
<br/>
<p>Name: <%= @contact.name %></p> 
<br/>
<p>Message: <%=@contact.message %></p>